:root {
	--ease: cubic-bezier(.4, 0, .2, 1);
	--ease-out: cubic-bezier(0, 0, .2, 1);
	--ease-in: cubic-bezier(.4, 0, 1, 1);

	--green: #9EC41B;
	--black: #212121;
	--blacklight: #282828;
	--gray: #979797;

	--menu-height: 70px;
	--site-padding: 4%;

	--fill-parent: {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@custom-media --show-menu (min-width: 635px);
@custom-media --bigger-font (min-width: 600px);

::-moz-selection {
	background: var(--green);
	text-shadow: none;
}

::selection {
	background: var(--green);
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea { resize: vertical; }

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

*,*::before,*::after { box-sizing: border-box; }

body {
	color: #000;
	background: #000 url('../img/img_fallback_400_repeating.jpg');
	background-size: 100% auto;
	background-attachment: fixed;
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

	@media (--bigger-font) {
		font-size: 16px;
		background-image: none;

		@nest .lowfps & { background-image: url('../img/img_fallback_1600.jpg'); }
	}

	@media (--show-menu) { padding-top: var(--menu-height); }
	@nest .programPage & { background: var(--black); }
	@nest .show--speakerCard & { overflow: hidden; }
}

button {
	border: 0;
	background: transparent;
}

a { color: inherit; }
img { max-width: 100%; }
h1,h2,h3,h4,h5 { font-weight: 100; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; font-weight: bold; }
h6 { font-size: 1em; }

h2,nav { font-family: 'Roboto Mono'; }

#svg-symbols {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

ul.unstyled {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.center-content { text-align: center; }
.ingress { font-size: 1.3em; }
.text-white { color: #fff; }
.text-content {
	box-sizing: content-box;
	max-width: 500px;
	margin: 0 auto;
	padding-left: var(--site-padding);
	padding-right: var(--site-padding);

	@media (min-width: 520px) {
		padding-left: calc(var(--site-padding) + 60px);
		position: relative;

		& h2 svg {
			position: absolute;
			top: .15em;
			left: var(--site-padding);
		}
	}

	@media (min-width: 725px) {
		padding-left: 89px;

		& h2 svg { left: 25px; }
	}
}

h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.875em;

	& svg {
		fill: var(--green);
		width: 47px;
		height: 34px;
		display: inline-block;
		vertical-align: middle;
		margin-right: .3em;
		margin-top: -16px;

		@nest .green & {
			fill: #000;
		}
	}
}

h4 {
	text-transform: uppercase;
	margin-bottom: -.8em;
	font-weight: bold;
	font-size: 1.25em;
}

nav {
	@apply --fill-parent;
	background: var(--green);
	position: fixed;
	z-index: 10;
	transform: translateY(100%);
	transition: transform .2s var(--ease-in);

	@nest .show--menu & {
		transform: none;
		transition-timing-function: var(--ease-out);
	}

	& ul {
		position: absolute;
		bottom: 80px;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 2.2em;
		font-size: 1.1em;
		letter-spacing: 1px;
	}

	& svg { display: none; }

	@media (--show-menu) {
		transform: none;
		bottom: auto;
		height: var(--menu-height);
		transition: padding .3s .2s var(--ease);
		font-size: 12px;

		& ul {
			position: static;
			line-height: var(--menu-height);
		}

		& li {
			display: inline-block;
			margin: 0 1%;

			&.active { color: #fff; }
		}

		& a { text-decoration: none; }

		@nest .toggle--logo-in-menu & {
			padding-left: calc(var(--site-padding) + 80px);
			transition-delay: 0;
		}
	}

	@media (min-width: 911px) {
		& svg {
			display: inline-block;
			vertical-align: middle;
			margin-top: -10px;
			width: 28px;
			height: 21px;
			fill: #000;
		}
	}
}

.menu_toggle {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 0;
	line-height: 0;
	background: #fff;
	border: 0;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	outline: 0;

	&::before,&::after {
		content: '';
		position: absolute;
		top: 50%;
		border-top: 2px solid #000;
		left: 50%;
		width: 26px;
		margin-left: -13px;
		height: 9px;
		border-bottom: 2px solid #000;
		transition: transform .2s var(--ease), border .2s var(--ease);
		transform-origin: center top;
	}

	&::before {
		margin-top: -7px;
		transform-origin: center bottom;
	}

	@nest .show--menu & {
		&::before {
			transform: rotate(-45deg);
			border-top-color: transparent;
		}

		&::after {
			transform: rotate(45deg);
			border-bottom-color: transparent;
		}
	}

	@media (--show-menu) {
		display: none;
	}
}

.logo {
	position: absolute;
	fill: var(--green);
	width: 120px;
	right: 52%;
	top: calc(10vw + 1.2em);

	& svg {
		width: 100%;
		height: 60px;
	}

	@media (--show-menu) {
		top: -10vw;
		margin-top: calc(20vw + 1.2em + var(--menu-height));
		right: auto;
		width: 23vw;
		left: var(--site-padding);
		transition: top .3s var(--ease);

		& svg { height: 10vw; }
	}

	@nest .toggle--logo-in-menu & {
		position: fixed;
		top: 0;
		left: var(--site-padding);
		width: 80px;
		z-index: 11;
		margin-top: 0;
		transition-delay: .2s;

		& svg {
			fill: #000;
			height: var(--menu-height);
		}
	}
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: .5;
	transition: opacity .5s var(--ease);

	@nest .lowfps & { opacity: 0; }
}

.block {
	padding: 10vw 0;
	color: var(--green);

	&.green {
		background: var(--green);
		color: #000;
	}

	&--top {
		& h1 {
			width: 120px;
			margin-left: 52%;

			& svg {
				width: 100%;
				height: 60px;
			}
		}

		& h3 {
			font-size: 12px;
			margin-left: 52%;
			margin-top: -1em;
			font-weight: normal;
			font-family: 'Roboto Mono';
			text-transform: uppercase;
			letter-spacing: .5px;
		}

		@media (--show-menu) {
			& h1 {
				width: 23vw;

				& svg { height: 10vw; }
			}

			& h1, & h3 { margin-left: calc(var(--site-padding) + 23vw + 2%); }
		}
	}

	&--speakers {
		font-size: 12px;
		line-height: 1.5em;

		& li {
			background: var(--black);
			position: relative;
			padding: 10px;
			margin: 10px;

			& div {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 100px);
				margin-left: 10px;
			}
		}

		& img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			display: inline-block;
			vertical-align: middle;
		}

		& h5 {
			font-size: 1.33em;
			margin: 0;
		}

		& h6 {
			margin-top: .3em;
			margin-bottom: .5em;
		}

		& p { margin-bottom: 0; }

		@media (min-width: 550px) {
			& ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
			}

			& li {
				width: 200px;

				& div {
					width: 100%;
					margin: 0;
				}
			}

			& img {
				width: 180px;
				height: 180px;
			}

			& h5 { margin-top: 1em; }
		}
	}

	&--photos {
		padding: 0;

		& .photos_wrapper {
			overflow-x: scroll;
			@media (min-width: 1250px) { overflow-x: visible; }
		}

		& ul {
			width: 400%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(11.11%, 1fr));

			@media (min-width: 500px) { width: 280%; }
			@media (min-width: 870px) { width: 160%; }
			@media (min-width: 1250px) { width: 100%; }
		}

		& li {
			position: relative;
			display: inline-block;

			&.holder { width: 22.222%; }

			@supports (mix-blend-mode: hue) {
				&::after {
					@apply --fill-parent;
					content: '';
					background: var(--green);
					mix-blend-mode: hue;
					transition: opacity .5s ease;
				}

				@nest .no-touch &:hover::after { opacity: 0; }
			}

			&:nth-child(3n-2) { grid-row: 1/3; }
			&:nth-child(3n) { grid-row: 2; }

			&:nth-child(1) { grid-column: 1/3; }
			&:nth-child(3) { grid-column: 3; }
			&:nth-child(4) { grid-column: 4/6; }
			&:nth-child(6) { grid-column: 6; }
			&:nth-child(7) { grid-column: 7/9; }
			&:nth-child(9) { grid-column: 9; }
		}

		& .extra {
			text-align: right;
			padding: 2%;
			font-family: 'Roboto Mono';
			font-size: 12px;

			& a {
				display: inline-block;
				margin-left: .3em;
				vertical-align: text-bottom;
				margin-top: -4px;

				&.btn {
					background: var(--green);
					color: #000;
					padding: 2px 4px;
					text-decoration: none;
					vertical-align: middle;
					margin-top: 0;
				}
			}

			& svg {
				height: 16px;
				width: 53px;
				fill: var(--green);
			}
		}
	}

	&--2017 {
		@media (min-width: 800px) {
			& .ingress { font-size: 1.625em; }
			& p {
				font-size: 1.25em;
				line-height: 1.2em;
			}
		}
	}

	&--about {
		& li {
			list-style: none;
			position: relative;
			line-height: 2em;

			&::before {
				content: '';
				background: url('../img/list_style.svg') no-repeat;
				background-size: contain;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: -20px;
				width: 12px;
				height: 16px;
			}
		}
	}

	&--meetups {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& a {
			transition: color 200ms;
			margin: 1rem 5px;

			&:hover { color: color(var(--green) lightness(90%)); }
		}

		& svg {
			width: 100px;
			height: 100px;
			display: block;
		}

		@media (min-width: 520px) {
			& svg {
				width: 55px;
				height: 55px;
			}
		}
	}

	&--conduct {
		& .extra {
			max-height: 0;
			overflow: hidden;
			transition: max-height .3s var(--ease);
		}

		& .icon::before { content: '+'; }

		&.open {
			& .extra { max-height: 1100px; }
			& .icon::before { content: '-'; }
		}
	}

	& .btn {
		color: #000;
		background: var(--green);
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		padding: 4% 6%;
		position: relative;
		display: inline-block;
		margin-top: .5em;
		font-family: 'Roboto Mono';

		&::before {
			@apply --fill-parent;
			content: '';
			right: calc(100% - 8px);
			background: #fff;
			will-change: right;
			transition: right .3s 1ms var(--ease);
		}

		&::after {
			@apply --fill-parent;
			content: attr(data-text);
			color: #000;
			position: absolute;
			padding: 3.3vw 0;
			text-align: center;
			will-change: clip-path;
			opacity: 0;
			transition: opacity .3s var(--ease);

			@supports (clip-path: polygon(0 0)) {
				opacity: 1;
				clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
				transition: clip-path .3s var(--ease);
			}
		}

		@nest .no-touch &:hover {
			&::before {
				right: 0;
				transition-delay: 6ms;
			}

			&::after {
				opacity: 1;
				@supports (clip-path: polygon(0 0)) {
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
				}
			}
		}

		@media (--bigger-font) { font-size: 30px; }

		@media (min-width: 660px) {
			padding: 22px 33px;

			&::after { padding: 22px 0; }
		}
	}

	&.green .btn {
		background: #000;
		color: var(--green);
	}

	&--program {
		font-family: 'Roboto Mono';
		-webkit-font-smoothing: antialiased;

		& .roomsColumns { display: none; }

		& .break {
			margin: 0 24px;
			border: 1px solid var(--gray);
			text-align: center;
			margin-bottom: 40px;
			padding: 6px 0;
			font-size: 12px;

			&.lunch { padding: 46px 0; }

			& b { color: #fff; }
		}

		& .slot {
			padding: 0 24px;
			margin-bottom: 40px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				border-left: 4px solid var(--green);
			}
		}

		& .sesh {
			margin-top: 18px;
			display: flex;
			min-height: 60px;

			&.fake { display: none; }

			& aside {
				width: 46px;
				color: #fff;
				text-align: center;
				font-size: 12px;
			}

			& time {
				border-bottom: 4px solid var(--green);
				display: block;
			}

			& .room span { color: var(--green); }

			& section {
				width: calc(100% - 59px - 40px);
				margin-left: 13px;
				border: 1px solid var(--gray);
				border-right: 0;
				padding: 10px;
				position: relative;
				transition: color .2s var(--ease);
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 0;
					bottom: 0;
					background: var(--green);
					transition: width .3s var(--ease), background .2s var(--ease);
				}

				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: 1px;
					background: var(--gray);
					opacity: 0;
				}
			}

			& h4, & h5 {
				margin: 0;
				font-size: 12px;
				line-height: 1.3em;
				text-transform: none;
				letter-spacing: -.3px;
				position: relative;
			}

			& h4 { font-weight: normal; }

			& h5 {
				padding-left: 14px;
				margin-top: .4em;

				&::before {
					content: '> ';
					position: absolute;
					left: 0;
					color: #fff;
					font-weight: normal;
				}
			}

			& .fav-toggle {
				width: 40px;
				font-size: 12px;
				text-align: center;
				display: flex;
				padding-right: 2px;
				position: relative;
				border: 1px solid var(--green);
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 0;
					bottom: 0;
					background: var(--green);
					transition: width .2s var(--ease);
				}

				& div {
					margin: auto;
					position: relative;
				}

				& .no { color: #fff; }
			}

			&.is-fav {
				& section {
					color: #000;
					border-color: var(--green);
					transition: color .2s .2s var(--ease), transform .2s var(--ease), border 0s .2s;

					&::before { width: 100%; }
					&::after { background: var(--green); }
				}

				& .fav-toggle {
					& .no { color: inherit; }
					& .yes { color: #fff; }
				}
			}
		}

		@media (min-width: 600px) {
			& .slot {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				position: relative;

				&::before { top: 40px; }
			}

			& .sesh {
				width: 48%;
				display: inline-flex;
				position: relative;
				margin-top: 40px;

				& aside {
					display: block;
					position: absolute;
					bottom: 100%;
					left: 0;
					font-size: 12px;
					width: 100%;
					text-align: left;
				}

				& time {
					display: inline-block;
					border: 0;
				}

				& section {
					width: calc(100% - 40px);
					margin: 0;
					transition: transform .2s var(--ease), border 0s .2s;
					background: var(--black);
					z-index: 2;
				}

				&.is-fav .fav-toggle::before {
					right: auto;
					left: 0;
				}
			}

			@nest .no-touch & {
				& .sesh section:hover { background: var(--blacklight); }
				& .sesh.is-fav section:hover::before { background: color(var(--green) lightness(48%)); }

				& .fav-toggle:hover {
					color: var(--black);

					&::before { width: 100%; }
				}
			}
		}

		@media (min-width: 950px) {
			& .slot { margin-bottom: 100px; }
			& .sesh { width: 30%; }
		}

		@media (min-width: 1400px) {
			& .roomsColumns {
				display: flex;
				justify-content: space-between;
				padding: 0 24px 0 74px;
				margin-bottom: 15px;

				& div {
					width: 18.5%;
					font-size: 12px;
					border-bottom: 1px solid var(--green);

					& span { color: #fff; }
				}
			}

			& .break {
				margin-left: 74px;
				margin-top: 40px;
			}

			& .slot {
				padding-left: 74px;
				margin-bottom: 1.5%;

				&::before {
					content: attr(data-time);
					color: #fff;
					position: absolute;
					top: 0;
					left: 20px;
					font-size: 12px;
					width: 35px;
					border: 0;
					bottom: auto;
					border-bottom: 1px solid var(--green);
				}
			}

			& .sesh {
				width: 18.5%;
				margin-top: 0;

				&.fake {
					background: var(--blacklight);
					display: block;
				}

				& aside { display: none; }
			}
		}
	}
}

.speakerCard {
	display: none;
	position: absolute;
	left: 10px;
	width: 260px;
	max-height: 260px;
	overflow: hidden;
	font-family: 'Roboto Mono';
	letter-spacing: -.3px;
	border: 1px solid var(--gray);
	transition: opacity .3s var(--ease);
	z-index: 10;
	font-size: 12px;
	line-height: 1.4em;

	& article {
		height: 100%;
		overflow: auto;
	}

	& .fake {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--black);
		border: 1px solid var(--gray);
		color: var(--green);
		padding: 10px;
		transition: opacity .2s var(--ease);

		& h4, & h5 {
			margin: 0;
			font-size: 12px;
			line-height: 1.3em;
			text-transform: none;
			letter-spacing: -.3px;
			position: relative;
		}

		& h4 { font-weight: normal; }

		& h5 {
			padding-left: 14px;
			margin-top: .4em;

			&::before {
				content: '> ';
				position: absolute;
				left: 0;
				color: #fff;
				font-weight: normal;
			}
		}
	}

	&.is-fav .fake {
		background: var(--green);
		border-color: var(--green);
		color: var(--black);
	}

	& .close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 0;
		line-height: 0;
		width: 30px;
		height: 30px;
		color: var(--green);
		cursor: pointer;

		@nest .no-touch & { right: 25px; }

		&::after {
			content: 'x';
			font-size: 16px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	& h2 {
		color: var(--green);
		text-transform: none;
		display: inline-block;
		font-weight: normal;
		line-height: 1.3em;
		font-size: 18px;
		max-width: 540px;
	}

	& header { color: var(--green); }
	& hgroup { padding-bottom: 20px; }
	& dl { margin: 0; }

	& dt, & dd {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	& dt {
		width: 80px;
	}

	& dd {
		width: calc(100% - 90px);

		&.name { color: var(--gray); }
		& span { color: #fff; }
	}

	& .fav-toggle {
		border: 1px solid var(--green);
		padding: 1px 4px 3px;
		cursor: pointer;

		& .yes { color: var(--green); }
	}

	&.is-fav .fav-toggle {
		background: var(--green);
		color: var(--black);

		& .yes { color: #fff; }
		& .no { color: var(--black); }
	}

	& figure {
		margin: 0;
		width: 240px;
		position: relative;
	}

	& .deepdream {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: opacity 4s 3s var(--ease);
	}

	& figcaption strong {
		display: block;
		margin-bottom: .3em;
	}

	& figcaption span::after {
		content: '';
		display: inline-block;
		vertical-align: sub;
		width: .4em;
		height: 1em;
		background: var(--green);
		animation: blink 1s infinite;
	}

	& img {
		border: 1px solid var(--green);
		display: block;
		width: 240px;
		height: 240px;
		margin-bottom: 15px;
	}

	& .speakers-2 {
		& figure {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:nth-child(3) {
				& .deepdream {
					left: auto;
				}

				& figcaption { order: -1; }
			}
		}

		& img {
			width: 130px;
			height: 130px;
		}

		& .deepdream {
			width: 130px;
			height: 130px;
		}

		& figcaption {
			width: 130px;

			& .name {
				margin-bottom: 2em;
			}
		}
	}

	& header, & section {
		padding: 10px;
		opacity: 0;
		transition: opacity .2s .5s ease;
	}

	& section {
		color: var(--gray);

		& strong {
			color: var(--green);
			font-size: 14px;
			margin-top: 50px;
			display: block;
		}
	}

	&.show {
		background: var(--blacklight);
		max-height: 80vh;
		transition: all .3s var(--ease);

		& .fake {
			opacity: 0;
			pointer-events: none;
		}

		& header, & section { opacity: 1; }

		& .deepdream {
			opacity: 1;
		}
	}

	@media (min-width: 640px) {
		font-size: 14px;
		line-height: 1.4em;

		& .close {
			font-size: 12px;
			line-height: 1em;
			border: 1px solid var(--green);
			width: auto;
			height: auto;
			padding: 3px 5px;

			&::after { content: none; }
		}

		& header { padding: 20px; }
		& section { padding: 0 20px 20px; }

		& header div {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}

		& hgroup {
			width: calc(100% - 200px);
			padding-bottom: 50px;
			line-height: 1.6em;
		}

		& figure {
			order: -1;
			width: 180px;
			font-size: 12px;
		}

		& figcaption { width: 500px; }

		& img {
			width: 180px;
			height: 180px;
		}

		& .speakers-2 {
			& img, & .deepdream {
				width: 180px;
				height: 180px;
				margin-bottom: 0;
			}

			& figure {
				width: 420px;
				margin-bottom: 30px;
				order: 0;
			}

			& figcaption { width: 220px; }
		}

		& section { max-width: 560px; }
	}

	@media (min-width: 900px) {
		& header { padding: 40px; }
		& section { padding: 0 40px 20px; }
	}
}

@keyframes blink {
	0% { opacity: 1; }
	49% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 0; }
}

.programPage {
	& .block--top {
		padding: 10px;
		max-width: 509px;
		margin: 0 auto;
	}

	& h1 {
		color: #fff;
		margin: 40px 0 0;
		width: 100%;
	}
}

#nnug-logo,
#ixda-logo,
#spillmakerlauget-logo,
#javabin-logo,
#trondheimxp-logo,
#dataforeninge-logo,
#bartjs-logo {
	& path, & text {
		fill: currentColor;
	}
}
/*
svg path,  svg text {
	fill: currentColor !important;
}*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
