:root {
	--ease: cubic-bezier(.4, 0, .2, 1);
	--ease-out: cubic-bezier(0, 0, .2, 1);
	--ease-in: cubic-bezier(.4, 0, 1, 1);

	--green: #9EC41B;
	--black: #212121;

	--menu-height: 70px;
	--site-padding: 4%;

	--fill-parent: {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@custom-media --show-menu (min-width: 635px);
@custom-media --bigger-font (min-width: 600px);

::-moz-selection {
	background: var(--green);
	text-shadow: none;
}

::selection {
	background: var(--green);
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea { resize: vertical; }

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

*,*::before,*::after { box-sizing: border-box; }

body {
	color: #000;
	background: #000;
	font-size: 14px;
	line-height: 1.4em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

	@media (--bigger-font) { font-size: 16px; }
	@media (--show-menu) { padding-top: var(--menu-height); }
}

button {
	border: 0;
	background: transparent;
}

a { color: inherit; }
img { max-width: 100%; }
h1,h2,h3,h4,h5 { font-weight: 100; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }

h2,nav { font-family: 'Roboto Mono'; }

#svg-symbols {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

ul.unstyled {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.center-content { text-align: center; }
.ingress { font-size: 1.3em; }
.text-white { color: #fff; }
.text-content {
	box-sizing: content-box;
	max-width: 500px;
	margin: 0 auto;
	padding-left: var(--site-padding);
	padding-right: var(--site-padding);

	@media (min-width: 520px) {
		padding-left: calc(var(--site-padding) + 60px);
		position: relative;

		& h2 svg {
			position: absolute;
			top: .15em;
			left: var(--site-padding);
		}
	}

	@media (min-width: 725px) {
		padding-left: 89px;

		& h2 svg { left: 25px; }
	}
}

h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.875em;

	& svg {
		fill: var(--green);
		width: 47px;
		height: 34px;
		display: inline-block;
		vertical-align: middle;
		margin-right: .3em;
		margin-top: -16px;

		@nest .green & {
			fill: #000;
		}
	}
}

h4 {
	text-transform: uppercase;
	margin-bottom: -.8em;
	font-weight: bold;
	font-size: 1.25em;
}

nav {
	@apply --fill-parent;
	background: var(--green);
	position: fixed;
	z-index: 10;
	transform: translateY(100%);
	transition: transform .2s var(--ease-in);

	@nest .show--menu & {
		transform: none;
		transition-timing-function: var(--ease-out);
	}

	& ul {
		position: absolute;
		bottom: 80px;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 2.2em;
		font-size: 1.1em;
		letter-spacing: 1px;
	}

	& svg { display: none; }

	@media (--show-menu) {
		transform: none;
		bottom: auto;
		height: var(--menu-height);
		transition: padding .3s .2s var(--ease);
		font-size: 12px;

		& ul {
			position: static;
			line-height: var(--menu-height);
		}

		& li {
			display: inline-block;
			margin: 0 1%;

			&.active { color: #fff; }
		}

		& a { text-decoration: none; }

		@nest .toggle--logo-in-menu & {
			padding-left: calc(var(--site-padding) + 80px);
			transition-delay: 0;
		}
	}

	@media (min-width: 911px) {
		& svg {
			display: inline-block;
			vertical-align: middle;
			margin-top: -10px;
			width: 28px;
			height: 21px;
			fill: #000;
		}
	}
}

.menu_toggle {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 0;
	line-height: 0;
	background: #fff;
	border: 0;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	outline: 0;

	&::before,&::after {
		content: '';
		position: absolute;
		top: 50%;
		border-top: 2px solid #000;
		left: 50%;
		width: 26px;
		margin-left: -13px;
		height: 9px;
		border-bottom: 2px solid #000;
		transition: transform .2s var(--ease), border .2s var(--ease);
		transform-origin: center top;
	}

	&::before {
		margin-top: -7px;
		transform-origin: center bottom;
	}

	@nest .show--menu & {
		&::before {
			transform: rotate(-45deg);
			border-top-color: transparent;
		}

		&::after {
			transform: rotate(45deg);
			border-bottom-color: transparent;
		}
	}

	@media (--show-menu) {
		display: none;
	}
}

.logo {
	position: absolute;
	fill: var(--green);
	width: 120px;
	right: 52%;
	top: calc(10vw + 1.2em);

	& svg {
		width: 100%;
		height: 60px;
	}

	@media (--show-menu) {
		top: -10vw;
		margin-top: calc(20vw + 1.2em + var(--menu-height));
		right: auto;
		width: 23vw;
		left: var(--site-padding);
		transition: top .3s var(--ease);

		& svg { height: 10vw; }
	}

	@nest .toggle--logo-in-menu & {
		position: fixed;
		top: 0;
		left: var(--site-padding);
		width: 80px;
		z-index: 11;
		margin-top: 0;
		transition-delay: .2s;

		& svg {
			fill: #000;
			height: var(--menu-height);
		}
	}
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: .5;
}

.block {
	padding: 10vw 0;
	color: var(--green);

	&.green {
		background: var(--green);
		color: #000;
	}

	&--top {
		& h1 {
			width: 120px;
			margin-left: 52%;

			& svg {
				width: 100%;
				height: 60px;
			}
		}

		& h3 {
			font-size: 12px;
			margin-left: 52%;
			margin-top: -1em;
			font-weight: normal;
			font-family: 'Roboto Mono';
			text-transform: uppercase;
			letter-spacing: .5px;
		}

		@media (--show-menu) {
			& h1 {
				width: 23vw;

				& svg { height: 10vw; }
			}

			& h1, & h3 { margin-left: calc(var(--site-padding) + 23vw + 2%); }
		}
	}

	&--speakers {
		& ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 0 2%;
		}

		& li {
			width: 200px;
			background: var(--black);
			padding: 10px 10px 0;
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 1.4em;
		}

		& h5 {
			font-size: 1.33em;
			margin: 1em 0 0;
		}

		& img { width: 100%; }
	}

	&--photos {
		padding: 0;

		& .photos_wrapper { overflow-x: scroll; }

		& ul {
			width: 400%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(11.11%, 1fr));

			@media (min-width: 500px) { width: 280%; }
			@media (min-width: 870px) { width: 160%; }
			@media (min-width: 1250px) { width: 100%; }
		}

		& li {
			position: relative;
			display: inline-block;

			&.holder { width: 22.222%; }

			@supports (mix-blend-mode: hue) {
				&::after {
					@apply --fill-parent;
					content: '';
					background: var(--green);
					mix-blend-mode: hue;
					transition: opacity .5s ease;
				}

				@nest .no-touch &:hover::after { opacity: 0; }
			}

			&:nth-child(3n-2) { grid-row: 1/3; }
			&:nth-child(3n) { grid-row: 2; }

			&:nth-child(1) { grid-column: 1/3; }
			&:nth-child(3) { grid-column: 3; }
			&:nth-child(4) { grid-column: 4/6; }
			&:nth-child(6) { grid-column: 6; }
			&:nth-child(7) { grid-column: 7/9; }
			&:nth-child(9) { grid-column: 9; }
		}

		& .extra {
			text-align: right;
			padding: 2%;
			font-family: 'Roboto Mono';
			font-size: 12px;

			& a {
				display: inline-block;
				margin-left: .3em;
				vertical-align: text-bottom;
				margin-top: -4px;

				&.btn {
					background: var(--green);
					color: #000;
					padding: 2px 4px;
					text-decoration: none;
					vertical-align: middle;
					margin-top: 0;
				}
			}

			& svg {
				height: 16px;
				width: 53px;
				fill: var(--green);
			}
		}
	}

	&--2017 {
		@media (min-width: 800px) {
			& .ingress { font-size: 1.625em; }
			& p {
				font-size: 1.25em;
				line-height: 1.2em;
			}
		}
	}

	&--about {
		& li {
			list-style: none;
			position: relative;
			line-height: 2em;

			&::before {
				content: '';
				background: url('../img/list_style.svg') no-repeat;
				background-size: contain;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: -20px;
				width: 12px;
				height: 16px;
			}
		}
	}

	&--meetups {
		text-align: center;
		text-decoration: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		& a {
			transition: color 200ms;
		}
		& a:hover {
			color: color(var(--green) lightness(90%));
		}

		& svg {
			width: 100px;
			height: 100px;
			display: block;
		}

		@media (min-width: 520px) {
			& svg {
				width: 75px;
				height: 75px;
			}
		}
	}

	&--conduct {
		& .extra {
			max-height: 0;
			overflow: hidden;
			transition: max-height .3s var(--ease);
		}

		& .icon::before { content: '+'; }

		&.open {
			& .extra { max-height: 1050px; }
			& .icon::before { content: '-'; }
		}
	}

	& .btn {
			background: #000;
			color: var(--green);
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			padding: 4% 6%;
			position: relative;
			display: inline-block;
			margin-top: .5em;
			font-family: 'Roboto Mono';

			&::before {
				@apply --fill-parent;
				content: '';
				right: calc(100% - 8px);
				background: #fff;
				will-change: right;
				transition: right .3s 1ms var(--ease);
			}

			&::after {
				@apply --fill-parent;
				content: attr(data-text);
				color: #000;
				position: absolute;
				padding: 3.3vw 0;
				text-align: center;
				will-change: clip-path;
				opacity: 0;
				transition: opacity .3s var(--ease);

				@supports (clip-path: polygon(0 0)) {
					opacity: 1;
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
					transition: clip-path .3s var(--ease);
				}
			}

			@nest .no-touch &:hover {
				&::before {
					right: 0;
					transition-delay: 6ms;
				}

				&::after {
					opacity: 1;
					@supports (clip-path: polygon(0 0)) {
						clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					}
				}
			}

			@media (--bigger-font) { font-size: 30px; }

			@media (min-width: 660px) {
				padding: 22px 33px;

				&::after { padding: 22px 0; }
			}
		}
}

#nnug-logo,
#ixda-logo,
#spillmakerlauget-logo,
#javabin-logo,
#trondheimxp-logo,
#dataforeninge-logo,
#bartjs-logo {
	& path, & text {
		fill: currentColor;
	}
}
/*
svg path,  svg text {
	fill: currentColor !important;
}*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
